body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
}
#click_bg {
  height: 50%;
  width: 100%;
  position: relative;
}

#menu {
  height: 50%;
  width: 100%;
  position: relative;
  background-color: #00bbff;
}

#show_money {
  height: 5%;
  width: 100%;
  position: fixed;
}
